<section id="experience" class="brand_background py-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <iframe
          width="540"
          height="315"
          src="https://www.youtube.com/embed/J0uzhptIFLw"
          frameborder="0"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h2 class="info_title">OUR EXPERTISE</h2>
        <h4>Gamers around the world join us to promote one clan</h4>
        <p>
          All the Lorem Ipsum generators on the Internet tend to repeat
          predefined chunks as necessary, making this the first true generator
          on the Internet.
        </p>

        <a href="#" class="btn btn_main">Join Our Team »</a><br />
        <small class="muted">Selection on basis of Live Matches!</small>
      </div>
    </div>
  </div>
</section>
