<footer id="Contact">
  <div class="container">
    <h2 class="footer_title">CONTACT US</h2>
    <br />
    <h3>Get in touch for more updates</h3>

    <div class="contact_wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <p>
              E:
              <a href="#">hello@uigrid.com</a>
              <br />
              P: +996 XXX XXXX
            </p>
            <p>
              Drop us a email with your Gamer Nick and we will schedule your
              Live match with one of our clan member.
            </p>
            <p>Game On - GO PRO</p>

            <ul class="social_media">
              <li>
                <a href="http://www.facebook.com/uigridcom" target="_blank"
                  ><i class="fab fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="http://www.twitter.com/uigridcom" target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://plus.google.com/+UiGridMarketplace"
                  target="_blank"
                  ><i class="fab fa-google-plus"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-twitch"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#" target="_blank"><i class="fab fa-vimeo"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-12 col-md-6">
            <div class="row">
              <form class="form-email">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <input
                    type="text"
                    name="Name"
                    class="form-control"
                    placeholder="Enter Name"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <input
                    type="email"
                    name="Email"
                    class="form-control"
                    placeholder="Enter Email"
                  />
                </div>
                <div class="col-sm-12 col-xs-12">
                  <textarea
                    rows="4"
                    name="Message"
                    class="form-control"
                    placeholder="Enter Message"
                  ></textarea>
                </div>
                <div class="col-sm-12 col-md-12 col-xs-12">
                  <button type="submit" class="bnt_submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
