<section id="Join" class="my-5">
  <div class="container text-center">
    <h2 class="info_title">WHY JOIN US?</h2>
    <h3>Experienced players all around the world</h3>

    <div class="team my-5">
      <div class="bx-viewport">
        <div class="team_slider">
          <div class="slide bx-clone"><img src="assets/one.jpg" /></div>
          <div class="slide bx-clone"><img src="assets/two.jpg" /></div>
          <div class="slide bx-clone"><img src="assets/three.jpg" /></div>
          <div class="slide bx-clone"><img src="assets/four.jpg" /></div>
          <div class="slide "><img src="assets/one.jpg" /></div>
          <div class="slide "><img src="assets/two.jpg" /></div>
          <div class="slide "><img src="assets/three.jpg" /></div>
          <div class="slide "><img src="assets/four.jpg" /></div>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn_inverse">Join Our Team »</a><br />
    <small class="muted">Selection on basis of Live Matches!</small>
  </div>
</section>
