#Expertise {
  margin-top: 40px;
  margin-bottom: 50px;
}
.info_title {
  font-size: 3em;
  color: #c42d32;
  font-weight: 700;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
}
.btn_inverse {
  background-color: transparent;
  border: 1px solid #af2424;
  color: #af2424;
}
.btn_inverse:hover {
  background-color: rgba(175, 36, 36, 0.1);
  color: #af2424;
}
