<section
  id="Team"
  class="cover"
  data-parallax="scroll"
  data-image-src="assets/cover-2.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <h1 class="cover_title">GAMING CLAN</h1>
        <h3 class="cover_subtitle">Team of five representing Gaming Clan</h3>
        <p class="cover_action_text">Join Our Team</p>

        <a href="#" class="btn btn_main">Contact Us »</a>
      </div>
      <div class="clearfix"></div>

      <!-- On scroll second section -->
    </div>
  </div>
</section>
